@media (prefers-color-scheme: light) {
	:root {
		--text: #170b1e;
		--background: #f5f0fa;
		--primary: #4f226d;
		--secondary: #ae72da;
		--accent: #8a2fca;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: #ede1f4;
		--background: #0a050f;
		--primary: #bf92dd;
		--secondary: #62258d;
		--accent: #8f35d0;
	}
}

body {
	background-color: var(--background);
	font-family: 'Fira Sans';
	font-weight: 400;
	color: var(--text);
}

h1, h2, h3, h4, h5 {
	font-family: 'Fira Sans';
	font-weight: 700;
	color: var(--text);
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

a {color:var(--accent);}

.text-grad {background:linear-gradient(120deg,var(--primary),var(--accent));-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent}