:root {
	--error: #e14848;
	--notice: #479ee1;
	--success: #47e151;
	--warning: #df9321;
	--gold: #dfbc21;

	--mix-cl: black;

	--text-50: #0a0f0f;
	--text-100: #141d1f;
	--text-200: #283a3e;
	--text-300: #3c575d;
	--text-400: #51747b;
	--text-500: #65919a;
	--text-600: #84a7ae;
	--text-700: #a2bdc3;
	--text-800: #c1d3d7;
	--text-900: #e0e9eb;
	--text-950: #f0f4f5;

	--background-50: #0d0d0d;
	--background-100: #1a1a1a;
	--background-200: #333333;
	--background-300: #4d4d4d;
	--background-400: #666666;
	--background-500: #808080;
	--background-600: #999999;
	--background-700: #b3b3b3;
	--background-800: #cccccc;
	--background-900: #e6e6e6;
	--background-950: #f2f2f2;

	--primary-50: #070f12;
	--primary-100: #0f1e24;
	--primary-200: #1e3d48;
	--primary-300: #2c5b6d;
	--primary-400: #3b7a91;
	--primary-500: #4a98b5;
	--primary-600: #6eadc4;
	--primary-700: #92c1d3;
	--primary-800: #b7d6e1;
	--primary-900: #dbeaf0;
	--primary-950: #edf5f8;

	--secondary-50: #061013;
	--secondary-100: #0c2027;
	--secondary-200: #193f4d;
	--secondary-300: #255f74;
	--secondary-400: #327e9a;
	--secondary-500: #3e9ec1;
	--secondary-600: #65b1cd;
	--secondary-700: #8bc5da;
	--secondary-800: #b2d8e6;
	--secondary-900: #d8ecf3;
	--secondary-950: #ecf5f9;

	--accent-50: #051014;
	--accent-100: #0a2129;
	--accent-200: #144152;
	--accent-300: #1f627a;
	--accent-400: #2983a3;
	--accent-500: #33a3cc;
	--accent-600: #5cb6d6;
	--accent-700: #85c8e0;
	--accent-800: #addaeb;
	--accent-900: #d6edf5;
	--accent-950: #ebf6fa;
}

@media (prefers-color-scheme: light) {
	code {
		background-color: var(--background-200);
	}
}

input[type=text]:valid, input[type=number]:valid, input[type=email]:valid, input[type=password]:valid {
	background-color: color-mix(in oklab, var(--success) 40%, var(--mix-cl) 60%);
	transition-duration: 0.25s;
}
input[type=text]:invalid, input[type=number]:invalid, input[type=email]:invalid, input[type=password]:invalid {
	background-color: color-mix(in oklab, var(--error) 40%, var(--mix-cl) 60%);
	transition-duration: 0.25s;
}