pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em
}

code.hljs {
	padding: 3px 5px
}

.hljs-unformatted {
	color: var(--text-700);
}

.hljs-unformatted .hljs-keyword,
.hljs-unformatted .hljs-special,
.hljs-unformatted .hljs-type,
.hljs-unformatted .hljs-string {
	color: var(--text-700)
}

.hljs {
	color: var(--text-700);
	background: var(--background-200);
	font-family: "Roboto Mono", monospace;
	font-size: small
}

@media (prefers-color-scheme: dark) {
	.hljs-comment,
	.hljs-quote {
		color: var(--text-700);
		opacity: 0.5;
		font-style: italic
	}

	.hljs-formula,
	.hljs-keyword {
		color: #e06c75;
	}

	.hljs-doctag {
		color: #c678dd;
		opacity: 0.85;
		font-style: italic;
	}

	.hljs-deletion,
	.hljs-name,
	.hljs-section,
	.hljs-selector-tag,
	.hljs-subst {
		color: #e06c75
	}

	.hljs-literal {
		color: #56b6c2
	}

	.hljs-addition,
	.hljs-attribute,
	.hljs-meta .hljs-string,
	.hljs-regexp,
	.hljs-string {
		color: #98c379
	}

	.hljs-attr,
	.hljs-number,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-pseudo,
	.hljs-template-variable,
	.hljs-type,
	.hljs-variable {
		color: #d19a66
	}

	.hljs-bullet,
	.hljs-link,
	.hljs-meta,
	.hljs-selector-id,
	.hljs-symbol,
	.hljs-title {
		color: #61aeee
	}

	.hljs-special {
		color: #61cdee
	}

	.hljs-built_in,
	.hljs-class .hljs-title,
	.hljs-title.class_ {
		color: #e6c07b
	}

	.hljs-emphasis {
		font-style: italic
	}

	.hljs-strong {
		font-weight: 700
	}

	.hljs-link {
		text-decoration: underline
	}
}

@media (prefers-color-scheme: light) {
	.hljs-comment,
	.hljs-quote {
		color: var(--text-700);
		opacity: 0.75;
		font-style: italic
	}

	.hljs-formula,
	.hljs-keyword {
		color: #d81727;
	}

	.hljs-doctag {
		color: #ae3dd1;
		opacity: 0.85;
		font-style: italic;
	}

	.hljs-deletion,
	.hljs-name,
	.hljs-section,
	.hljs-selector-tag,
	.hljs-subst {
		color: #c40010
	}

	.hljs-literal {
		color: #0f7fc9
	}

	.hljs-addition,
	.hljs-attribute,
	.hljs-meta .hljs-string,
	.hljs-regexp,
	.hljs-string {
		color: #09971c
	}

	.hljs-attr,
	.hljs-number,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-pseudo,
	.hljs-template-variable,
	.hljs-type,
	.hljs-variable {
		color: #d86800
	}

	.hljs-bullet,
	.hljs-link,
	.hljs-meta,
	.hljs-selector-id,
	.hljs-symbol,
	.hljs-title {
		color: #1a82d8
	}

	.hljs-special {
		color: #3134db
	}

	.hljs-built_in,
	.hljs-class .hljs-title,
	.hljs-title.class_ {
		color: #e6c07b
	}

	.hljs-emphasis {
		font-style: italic
	}

	.hljs-strong {
		font-weight: 700
	}

	.hljs-link {
		text-decoration: underline
	}
}