.correct-bg {
	width: 100vw;
	height: 100vh;
	background-color: var(--success);
	position: absolute;
}

.incorrect-bg {
	width: 100vw;
	height: 100vh;
	background-color: var(--error);
	position: absolute;
}

.question-bg {
	width: 100vw;
	height: 100vh;
	background-color: var(--background-400);
	position: absolute;
}

.result-title {
	position: absolute;
	width: 100vw;
	text-align: center;
	font-size: 10vw;
	color: white;
	top: -10vh;
}

.question-title {
	position: absolute;
	width: 100vw;
	text-align: center;
	font-size: 8vw;
	color: white;
	top: -10vh;
}

.question-text {
	position: absolute;
	width: 100vw;
	text-align: center;
	font-size: 5vw;
	color: white;
	top: 9vh;
	opacity: 0.75;
}

.result-icon {
	width: 100vw;
	height: 100vh;
	text-justify: middle;
	text-align: center;
	color: white;
	font-size: 15vw;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.result-icon i {
	pointer-events: auto;
}

.button.result-button {
	background-color: white;
	border: 0.1vw solid grey;
	transform: scale(2);
	transition-duration: 0.25s;
	color: black;
}

.button.result-button:hover {
	transform: scale(2.25);
	transition-duration: 0.25s;
}

.button.result-button:active {
	transform: scale(1.75);
	opacity: 0.5;
	transition-duration: 0.25s;
}

.next-arrow {
	padding-left: 0.5vw;
	transform: translate(0vw, 0);
	transition-duration: 0.25s;
}

.button.result-button:hover > .next-arrow {
	transform: translate(0.33vw, 0);
	transition-duration: 0.25s;
}

.button.result-button:active > .next-arrow {
	transform: translate(0.66vw, 0);
	transition-duration: 0.25s;
}

.wrong-answer-text {
	position: absolute;
	width: 100vw;
	height: 100vh;
	text-align: center;
	align-content: center;
	font-size: 3vw;
	padding: 0;
	margin: 0;
	color: white;
	top: 23.5vh;
}

code.incorrect {
	background-color: color-mix(in oklab, var(--error) 85%, black 15%);
	border-radius: 10px;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
