.correct-bg {
	width: 100%;
	height: 100%;
	background-color: var(--success);
	position: absolute;
}

.incorrect-bg {
	width: 100%;
	height: 100%;
	background-color: var(--error);
	position: absolute;
}

.result-title {
	width: 100%;
	text-align: center;
	font-size: 1000%;
	color: white;
}

.result-icon {
	width: 100%;
	height: 100%;
	text-justify: middle;
	text-align: center;
	color: white;
	font-size: 1500%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.result-icon i {
	pointer-events: auto;
}

.button.result-button {
	background-color: white;
	border: 1px solid grey;
	transform: scale(200%);
	transition-duration: 0.25s;
	color: black
}

.button.result-button:hover {
	transform: scale(225%);
	transition-duration: 0.25s;
}

.button.result-button:active {
	transform: scale(175%);
	opacity: 0.5;
	transition-duration: 0.25s;
}

.next-arrow {
	padding-left: 5px;
	transform: translate(0px, 0);
	transition-duration: 0.25s;
}

.button.result-button:hover > .next-arrow {
	transform: translate(5px, 0);
	transition-duration: 0.25s;
}

.button.result-button:active > .next-arrow {
	transform: translate(15px, 0);
	transition-duration: 0.25s;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}