.word-row {
	display: grid;
	gap: 1%;
	width: 50%;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.word-panel > p {
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: "Roboto Mono", monospace;
  	font-optical-sizing: auto;
  	font-style: normal;
	font-size: 20px;
	transition-duration: 0.5s;
}

.word-panel {
	background-color: color-mix(in oklab, var(--background-500) 50%, var(--mix-cl) 50%);
	aspect-ratio: 1 / 1;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid color-mix(in oklab, var(--background-500) 70%, var(--mix-cl) 30%);
	padding: 10px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1);
	transition-duration: 0s;
	opacity: 1;
}

.word-panel.green {
	transition-duration: 0.5s;
	transition: transform 0.5s opacity 0.5s;
	background-color: color-mix(in oklab, var(--success) 50%, var(--mix-cl) 50%);
	border: 1px solid color-mix(in oklab, var(--success) 70%, var(--mix-cl) 30%);
}

.word-panel.yellow {
	transition-duration: 0.5s;
	transition: transform 0.5s opacity 0.5s;
	background-color: color-mix(in oklab, var(--warning) 50%, var(--mix-cl) 50%);
	border: 1px solid color-mix(in oklab, var(--warning) 70%, var(--mix-cl) 30%);
}

.word-panel.red {
	transition-duration: 0.5s;
	transition: transform 0.5s opacity 0.5s;
	background-color: color-mix(in oklab, var(--error) 50%, var(--mix-cl) 50%);
	border: 1px solid color-mix(in oklab, var(--error) 70%, var(--mix-cl) 30%);
}

.word-panel.clear {
	transform: scale(0) rotate(50deg);
	opacity: 0;
	transition-duration: 0.5s;
	transition: transform 0.5s opacity 0.5s;
}

.word-panel.clear-correct {
	transform: scale(2.5);
	opacity: 0;
	transition-duration: 0.5s;
	transition: transform 0.5s opacity 0.5s;
}