@media (prefers-color-scheme: light) {
	:root {
		--error: #b81e1e;
		--notice: #1e75b8;
		--success: #1eb828;
		--warning: #df9320;

		--mix-cl: white;

		--text-50: #f0f5f5;
		--text-100: #e0ebeb;
		--text-200: #c2d6d6;
		--text-300: #a3c2c2;
		--text-400: #85adad;
		--text-500: #669999;
		--text-600: #527a7a;
		--text-700: #3d5c5c;
		--text-800: #293d3d;
		--text-900: #141f1f;
		--text-950: #0a0f0f;

		--background-50: #f2f2f2;
		--background-100: #e6e6e6;
		--background-200: #cccccc;
		--background-300: #b3b3b3;
		--background-400: #999999;
		--background-500: #808080;
		--background-600: #666666;
		--background-700: #4d4d4d;
		--background-800: #333333;
		--background-900: #1a1a1a;
		--background-950: #0d0d0d;

		--primary-50: #edf5f8;
		--primary-100: #dbeaf0;
		--primary-200: #b7d6e1;
		--primary-300: #92c1d3;
		--primary-400: #6eadc4;
		--primary-500: #4a98b5;
		--primary-600: #3b7a91;
		--primary-700: #2c5b6d;
		--primary-800: #1e3d48;
		--primary-900: #0f1e24;
		--primary-950: #070f12;

		--secondary-50: #ecf5f9;
		--secondary-100: #d8ecf3;
		--secondary-200: #b1d8e7;
		--secondary-300: #8bc5da;
		--secondary-400: #64b2ce;
		--secondary-500: #3d9ec2;
		--secondary-600: #317f9b;
		--secondary-700: #255f74;
		--secondary-800: #183f4e;
		--secondary-900: #0c2027;
		--secondary-950: #061013;

		--accent-50: #ebf6fa;
		--accent-100: #d6edf5;
		--accent-200: #addaeb;
		--accent-300: #85c8e0;
		--accent-400: #5cb6d6;
		--accent-500: #33a3cc;
		--accent-600: #2983a3;
		--accent-700: #1f627a;
		--accent-800: #144152;
		--accent-900: #0a2129;
		--accent-950: #051014;

	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--error: #e14848;
		--notice: #479ee1;
		--success: #47e151;
		--warning: #df9321;

		--mix-cl: black;

		--text-50: #0a0f0f;
		--text-100: #141d1f;
		--text-200: #283a3e;
		--text-300: #3c575d;
		--text-400: #51747b;
		--text-500: #65919a;
		--text-600: #84a7ae;
		--text-700: #a2bdc3;
		--text-800: #c1d3d7;
		--text-900: #e0e9eb;
		--text-950: #f0f4f5;

		--background-50: #0d0d0d;
		--background-100: #1a1a1a;
		--background-200: #333333;
		--background-300: #4d4d4d;
		--background-400: #666666;
		--background-500: #808080;
		--background-600: #999999;
		--background-700: #b3b3b3;
		--background-800: #cccccc;
		--background-900: #e6e6e6;
		--background-950: #f2f2f2;

		--primary-50: #070f12;
		--primary-100: #0f1e24;
		--primary-200: #1e3d48;
		--primary-300: #2c5b6d;
		--primary-400: #3b7a91;
		--primary-500: #4a98b5;
		--primary-600: #6eadc4;
		--primary-700: #92c1d3;
		--primary-800: #b7d6e1;
		--primary-900: #dbeaf0;
		--primary-950: #edf5f8;

		--secondary-50: #061013;
		--secondary-100: #0c2027;
		--secondary-200: #193f4d;
		--secondary-300: #255f74;
		--secondary-400: #327e9a;
		--secondary-500: #3e9ec1;
		--secondary-600: #65b1cd;
		--secondary-700: #8bc5da;
		--secondary-800: #b2d8e6;
		--secondary-900: #d8ecf3;
		--secondary-950: #ecf5f9;

		--accent-50: #051014;
		--accent-100: #0a2129;
		--accent-200: #144152;
		--accent-300: #1f627a;
		--accent-400: #2983a3;
		--accent-500: #33a3cc;
		--accent-600: #5cb6d6;
		--accent-700: #85c8e0;
		--accent-800: #addaeb;
		--accent-900: #d6edf5;
		--accent-950: #ebf6fa;
	}
}

.word-row {
	display: grid;
	gap: 1%;
	width: 50%;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.word-panel > p {
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: "Roboto Mono", monospace;
  	font-optical-sizing: auto;
  	font-style: normal;
	font-size: 20px;
	transition-duration: 0.5s;
}

.word-panel {
	background-color: color-mix(in oklab, var(--background-500) 50%, var(--mix-cl) 50%);
	aspect-ratio: 1 / 1;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid color-mix(in oklab, var(--background-500) 70%, var(--mix-cl) 30%);
	padding: 10px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1);
	transition-duration: 0s;
	opacity: 1;
}

.word-panel.green {
	transition-duration: 0.5s;
	transition: transform 0.5s opacity 0.5s;
	background-color: color-mix(in oklab, var(--success) 50%, var(--mix-cl) 50%);
	border: 1px solid color-mix(in oklab, var(--success) 70%, var(--mix-cl) 30%);
}

.word-panel.yellow {
	transition-duration: 0.5s;
	transition: transform 0.5s opacity 0.5s;
	background-color: color-mix(in oklab, var(--warning) 50%, var(--mix-cl) 50%);
	border: 1px solid color-mix(in oklab, var(--warning) 70%, var(--mix-cl) 30%);
}

.word-panel.red {
	transition-duration: 0.5s;
	transition: transform 0.5s opacity 0.5s;
	background-color: color-mix(in oklab, var(--error) 50%, var(--mix-cl) 50%);
	border: 1px solid color-mix(in oklab, var(--error) 70%, var(--mix-cl) 30%);
}

.word-panel.clear {
	transform: scale(0) rotate(50deg);
	opacity: 0;
	transition-duration: 0.5s;
	transition: transform 0.5s opacity 0.5s;
}

.word-panel.clear-correct {
	transform: scale(2.5);
	opacity: 0;
	transition-duration: 0.5s;
	transition: transform 0.5s opacity 0.5s;
}